@import '../variables';
.ms-cart {
    position: fixed;
    right: 5%;
    top: 20%;
    span,button,label,input {
        font-size: 15px;
    }
    .cart_icon {
        position: fixed;
        transform: translate(-50%, -50%);
        right: 7.5%;
        top : 15%;
        text-align: center;
        .cart-button {
            border: none;
            background-color: transparent;
            
            &:focus {
                outline: none;
            }
            i {
                font-size: 60px;
                color: $brandPrimary;
                &:hover {
                    color: #ff8d0087;
                }
            }
        }
    }
    
    .dish {
        div {
            width: max-content;
            input {
                display: inline-block;
                overflow:visible;
                background-color: transparent;
                border: none;
            }
            #amount {
                width: 100px;
            }
            #consegna {
                width: 45px;
            }
            .plate {
                width: 35px;
            }
        }
        
    }
    
}

.ms-create-dish {
    
    h1 {
        font-size: 24px;
        color: $brandPrimary;
        margin-bottom: 15px;
        font-style: italic;
    }
    h3 {
        font-weight: bolder;
        font-size: 20px;
        color: #38c172;
        font-style: italic;
        
    };
    h4 {
        color: red;
    }
    h4,h5 {
        font-size: 16px;
    };
    .left-side,.right-side {
        height: 100%;
        vertical-align: middle;
    }
    .right-side {
        button {
            color: white;
            background-color: #ff8d0087;
            border: 2px solid rgb(196, 196, 196);
            margin-right: 10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &:hover {
                background-color: $brandPrimary;
            }
            &:active {
                transform: scale(1.1);
            }
        }
    }
    .create-home {
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    .create-home-mobile {
        position: fixed;
        bottom: 2%;
        right: 2%;
    }
    .backToHome {
        z-index: 999;
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border: 2px solid black;
        color: white;
        background: $brandPrimary;
        padding: 70px;
        border-radius: 10px;
        button {
            margin-right: 15px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 2px solid white;
            color: white;
            background: transparent;
            &:focus {
                outline: none;
            }
            &:hover {
                color: red;
                background: rgba(0, 0, 0, 0.041);
            }
            &:hover a {
                color: red;
            }
            a {
                overflow: hidden;
                text-decoration: none;
                color: white;
                &:hover {
                    color: red;
                }
            }
        }
    }
    .amount-container {
        width: 70%;
        padding: 0px 0px 0px 5px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #e9ecef;
        #resoconto {
            background-color: transparent;
            display: inline-block;
            width: 50%;
            border: none;
        }
    }
    
}
@media screen and (min-width : 992px){
    .ms-create-dish {
        .left-side,.right-side {
            display: inline-block;
        }
        .left-side {
            min-width: 70%;
        }
    }
}
@media screen and (max-width : 768px){
    .ms-create-dish {
        .amount-container {
            width: 50%;
        }
    }
}
@media screen and (max-width : 576px){
    .ms-cart {
        span,button,label,input {
            font-size: 12px;
        }
        .cart_icon {
            position: fixed;
            transform: translate(-50%, -50%);
            right: 15%;
            top : 15%;
            text-align: center;
            .cart-button {
                i {
                    font-size: 35px;
                }
            }
        }
    }
    .ms-create-dish {
        h1 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
        h4,h5 {
            font-size: 12px;
        }
        .left-side,.right-side {
            display: block;
            padding: 0px;
        }
        .amount-container {
            padding-left: 5px;
            font-size: 13px;
            width: 42.5%;
            input {
                padding: 0px;
                text-align: center;
                width: 100%;
                font-size: 13px;
            }
        }
        .backToHome {
            padding: 25px;
        }
    }
}
