* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 80px;
}

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.show {
    display: block;
}
.hidden {
    display: none;
}

// Navbar
.my-navbar {
    width: 100%;
    height: 60px;
    font-weight: 500;
    line-height: 60px;
    color: $brandPrimary;
    background-color: $body-bg;
    border-bottom: 2px solid $brandSecondary;
    position: fixed;
    padding: 0 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;

    .logo img {
        max-height: 60px;
    }

    #logo_big,
    #city,
    .header_right {
        display: none;
    }

    #logo_small,
    #login
    #city-menu-container {
        display: inline-block;
    }

    .header-center-container,
    .header-right-container {
        position: relative;
    }

    #city-marker {
        cursor: pointer;
    }

    #city-menu-container {

        &:hover {
            color: $brandPrimary;
        }


        #city-menu {

            .active_link {
                display: block;
                color: $link;

                &:hover {
                    color: $brandPrimary;
                    text-decoration: none;
                }

            }
            .inactive_link {
                display: block;
                color: $inactive_link;
                pointer-events: none;
                cursor: default;
                position: relative;

                &::after {
                    content: "prossimamente";
                    font-size: 0.6rem;
                    font-style: oblique;
                    text-align: right;
                    text-decoration: underline;
                    color: $brandSecondary;
                    position: absolute;
                    bottom: -20px;
                    left: 20px;
                }
            }
        }
    }

    #city-menu-container,
    .hamburger-menu-container {
        position: absolute;
        top: 60px;
        display: inline-block;
    }
    #city-menu-container {
        left: -50px;
    }
    .hamburger-menu-container {
        right: 0;
    }

    #city-menu-container,
    .header_right,
    .hamburger-menu-container {
        
        i {
            padding: 0;
            color: $link;

            &:hover {
                color: $brandPrimary;
            }
        }

        #city-menu,
        #hamburger-menu {
            background-color: $body-bg;
            padding: 10px;
            border-radius: 10px;

            a {
                display: block;
                padding: 0 10px;
                color: $link;
        
                &:hover {
                    color: $brandPrimary;
                    text-decoration: none;
                }
            }
        }
    }

}

@media (min-width: 768px) {
    .my-navbar {

        #logo_big,
        #city,
        .header_right,
        #city-menu-container,
        #login,
        .header-center-container:hover #city-menu {
            display: inline-block;
        }

        #logo_small,
        .hamburger-menu-container {
            display: none;
        }

        #city-marker,
        .header-right-container {
            i {
                display: none;
            }
        }
        .header_right,
        .hamburger-menu-container {

            a {
                padding: 0 10px;
                color: $link;
        
                &:hover {
                    color: $brandPrimary;
                    text-decoration: none;
                }
            }
        }
    }
}

// utilities
.in-linea {
    display: inline-block;
}

.btn_orange {
    padding: 5px 10px;
    background-color: $brandPrimary;
    border-color: $brandPrimary;
    border-radius: 7px;
    color: white;

    &:hover {
        text-decoration: none;
        color: white;
        background-color: rgba($brandPrimary, 0.5);
    }
}

// Tabelle
.table_title {
    margin: 20px 0;
}
.panel .panel-body .table thead tr th{
    color: white;
    background-color: rgba($brandPrimary, 0.5);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody .row_on_hover:hover {
    background-color: rgba($brandPrimary, 0.2);
}
.panel .panel-body .table tbody tr td{
    color: $brandSecondary; 
    font-size: 0.8rem;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;


}
.panel .panel-body .table tbody .action-list li a,
.panel .panel-body .table tbody .action-list li .form_elimina{
    color: rgb(10, 4, 4);
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;

    &:before,
    &:after {
        content: attr(data-tip);
        color: white;
        background-color: $brandPrimary;
        font-size: 12px;
        padding: 5px 7px;
        border-radius: 4px;
        text-transform: capitalize;
        display: none;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -32px;
        transition: all 0.3s ease 0s;
    }

    &:after {
        content: '';
        height: 15px;
        width: 15px;
        padding: 0;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -18px;
        z-index: -1;        
    }

    &:hover:before,
    &:hover:after {
        display: block;
    }
}
.panel .panel-body .table tbody .action-list li .form_elimina button {
    border: none;
    background-color: transparent;
}