// Content
.content {
    padding-top: 200px;

    .btn-categoria {
        color: white;
        width: 150px;
        height: 150px;
        border: none;
        border-radius: 50%;
        background: linear-gradient($brandPrimary,$red);

        &:hover {
            background: linear-gradient($yellow,$brandPrimary);
            box-shadow: 0 0 5px 2px black;
        }
    }
    
    .btn-ristorante {
        border: none;
        border-radius: 20px;
        background: transparent;

        &:hover {
            color: $brandPrimary;
            box-shadow: 0 0 5px 2px $brandPrimary;
        }
    }

    .btn-categoria,
    .btn-ristorante {
        text-transform: capitalize;
        padding: 20px;
        margin: 20px;
    }

    .category {
        margin-top: 20px;
    }

    .cerca-ristorante input {
        padding: 10px;
    } 
}

@media (min-width: 768px) {
    .content {
        padding-top: 80px;
    }
}