.min-vh-50 {
    min-height: 50vh;
}
.margin-top-100 {
    margin-top: 80px;
}
// Slider
// 
.slideshow-container {
    width: 100%;
    height: 500px;
    position: relative;
    
    
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
    }

    #slide1 {
        background-image: url("/img/banner-1.jpg");
    }
    #slide2 {
        background-image: url("/img/banner-2.jpg");
    }
    #slide3 {
        background-image: url("/img/banner-3.jpg");
    }

    #slide1,
    #slide2,
    #slide3 {
        height: 500px;
        background-size: cover;
    }

    /* Gestione next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: $brandSecondary;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index: 3;

        &:hover {
            text-decoration: none;
            background-color: $brandPrimary;
            color: $body-bg;
        }
    }

    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* Gestione overlay */
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.6);
        z-index: 2;
        
        h2 {
            font-style: italic;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.8rem;
            font-weight: 600;
            color: $brandPrimary;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            user-select: none;
        }
    }
}

/* Gestione dots */
.dot-container {
    text-align: center;
    padding: 20px;
    background: $brandSecondary;
    
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: $body-bg;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active,
    .dot:hover {
        background-color: $brandPrimary;
    }
}

// Searchbar ricerca per nome
.searchbar {
    line-height: normal;
    font-size: 0.8rem;
    padding-top: 20px;

    input {
        padding: 10px;
    }
}

// Content
.content {
    padding-top: 60px;

    .btn-categoria {
        color: white;
        width: 150px;
        height: 150px;
        border: none;
        border-radius: 50%;
        background: linear-gradient($brandPrimary,$red);

        &:hover {
            background: linear-gradient($yellow,$brandPrimary);
            box-shadow: 0 0 5px 2px black;
        }
    }
    
    .btn-ristorante {
        border: none;
        border-radius: 20px;
        background: transparent;

        &:hover {
            color: $brandPrimary;
            box-shadow: 0 0 5px 2px $brandPrimary;
        }
    }

    .btn-categoria,
    .btn-ristorante {
        text-transform: capitalize;
        padding: 20px;
        margin: 20px;
    }

    .category {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .slideshow-container {
        .overlay {
            h2 {
                font-size: 2.5rem;
            }
        }
    }
}