.table_title {
    margin: 20px 0;

    .btn_orange {
        display: inline-block;
    }
    i {
        display: none;
        color: $brandPrimary;
    }
}
.col-12.table_padding {
    padding-right: 30px;
}

.panel .panel-body .table thead tr th{
    color: white;
    background-color: rgba($brandPrimary, 0.5);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody .row_on_hover:hover {
    background-color: rgba($brandPrimary, 0.2);
}
.panel .panel-body .table tbody tr td{
    color: $brandSecondary; 
    font-size: 0.8rem;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;


}
.panel .panel-body .table tbody .action-list li a,
.panel .panel-body .table tbody .action-list li .form_elimina{
    color: rgb(10, 4, 4);
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;

    &:before,
    &:after {
        content: attr(data-tip);
        color: white;
        background-color: $brandPrimary;
        font-size: 12px;
        padding: 5px 7px;
        border-radius: 4px;
        text-transform: capitalize;
        display: none;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -32px;
        transition: all 0.3s ease 0s;
    }

    &:after {
        content: '';
        height: 15px;
        width: 15px;
        padding: 0;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -18px;
        z-index: -1;        
    }

    &:hover:before,
    &:hover:after {
        display: block;
    }
}
.panel .panel-body .table tbody .action-list li .form_elimina button {
    border: none;
    background-color: transparent;
}

@media (max-width: 767px) {

    .col-12.table_padding,
    .col-md-12 {
        padding: 0 30px;

        .table_title {
            margin: 10px 0;

            h1,
            .btn_orange {
                font-size: 1.2rem;
            }

            h1 {
                font-weight: 600;
            }

            .btn_orange {
                display: none;
            }
            i {
                display: inline-block;
            }

            .btn_orange {
                padding: 2px 5px;
            }
            
        }

        .table thead tr th {
            font-size: 0.8rem;
        }
    }
}